@import '../../../global\ styles/mixins';

.business{
    @include wrapper();
    margin-top: 3rem;
    line-height: 3;
    .business-grid{
        @include grid(repeat(4,1fr), 1rem);
        @include mQ(51.25rem){
            @include grid(repeat(2,1fr), 1rem);
        }
        p{
            line-height: 1.5;
        }
        a{
            color:#0067b8;
            transition: .2s ease;
            &:hover{
                text-decoration: underline;
                word-spacing: .1rem;
            }
        }
        .fa-greater-than{
            font-size: .7rem;
        }
    }
}

@media (max-width: 768px){
    .business-grid .busines .image{
       width: 100%;
   }
}

@media (max-width: 420px){
    .business .business-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .covid-text h1{
        text-align: center;
        font-size: 1.3rem;
    }

    .covid-text p{
        font-size: .9rem;
        text-align: center;
    }
}



